@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;

}

.Container {
  height: 497px;
  width: 320px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
}


.qr-image {
  width: 310px;
  height: 290px;
  border-radius: 20px;
}

.Title{
  margin-top: 20px;
  color: black;
  font-weight: 700;
  font-size: 25px;
}

.Description {
  margin-top: 18px;
  color: grey;
  font-weight: 400;
  font-size: 15px;
  padding-inline: 20px;
  text-align: center;
}