.home{
    width: screen;
    height: 100%;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
}

.topSection {
  display: flex;
  align-items: center;
}

.topRightInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.infoBox {
  width: 400px;
  height: 270px;
}
.heading {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}
.subheading {
  line-height: 1.5;
  font-size: 15px;
}
.shopBtn {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 235px;
  letter-spacing: 12px;
}

.bottomSection {
  display: flex;
  align-items: center;
}

.bottomInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.infobox2 {
  width: 476px;
  height: 132px;
  text-align: left;
  word-wrap: break-word;
}
.heading2 {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 6px;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.subheading2 {
  line-height: 1.5;
  font-size: 14.5px;
}
