nav {
  display: flex;
  margin-top: 62px;
  padding-left: 60px;
  position: absolute;
}

.logo {
  display: flex;
  align-items: center;
}

.navItems {
  padding-left: 60px;
  list-style-type: none;
  font-size: 15px;
  display: flex;
  min-width: 300px;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 500;
}

.navItem {
  cursor: pointer;
}

.navItem::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
}

.navItem:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  }


@media only screen and (max-width: 1230px) {
  .navItems {
    display: none;
  }
  
  nav {
    display: flex;
    margin-top: 62px;
    padding-left: 50%;
    position: absolute;
  }

  
}