nav {
    display: flex;
    margin-top: 62px;
    padding-left: 60px;
    position: absolute;
    
}

.logo{
    display: flex;
    align-items: center;

}

.navItems {
    padding-left: 60px;
    text-decoration: none;
    list-style-type: none;  
    font-size: 15px;
    display: flex;
    min-width: 300px;
    text-align: left;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 500;
}